/*
Author: Vertti K
Date: 2025-09-26
*/

body {
  background-color: #1e1e2e;
  color: #cdd6f4;
  border: 2px solid #6c7086;
  margin: 25px;
  padding: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  max-width: 100vh;
  margin: auto;
  margin-top: 25px;
}

h1 {
  color: #cba6f7;
  font-size: 1.8rem;
}

h2 {
  color: #cba6f7;
  font-size: 1.6rem;
}

p {
  color: #cdd6f4;
}

a {
  color: #89b4fa;
  font-weight: 700;
}

ul {
  background-color: #313244;
  border: 2px solid #6c7086;
  margin: 25px;
  padding: 25px;
  margin: 20px 0;
  list-style-type: square;
  list-style-position: inside;
}

ul li {
  padding: 2px;
}

ol {
  background-color: #313244;
  border: 2px solid #6c7086;
  margin: 25px;
  padding: 25px;
  margin: 20px 0;
  list-style-type: upper-roman;
  list-style-position: inside;
}

ol li {
  padding: 2px;
}
